@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';

@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';
@import './components/links';
@import './components/pagination';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/form-terms';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-section';

/* .checkbox {
  position: relative;
}
.checkbox-input {
  appearance: none;
}
.checkbox-label {
  padding-left: 24px;
}
.checkbox-label::before {
  position: absolute;
  content: '';
  border: 1px solid var(--color-primary-dark);
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  margin-top: 5px;
  border-radius: 2px;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-secondary-dark);
} */
